<a href="https://colab.research.google.com/github/kadiatou12/data_analytics_2/blob/main/Copy_of_Unit3_NumPy_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [ ]:
import numpy as np

In [ ]:
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

In [ ]:
result = np.where(np_olympic_country_Gold == np.max(np_olympic_country_Gold))
result[0]

array([3])

## 2.	Find country with maximum gold

In [ ]:
max_gold = np_olympic_country

In [ ]:
#find country with max gold medals
print(max_gold[result[0]])

['US']

## 3.	Find countries with more than 20 gold medals

In [ ]:
#find countreis with more than 20 gold medals
more_than_20 = np.where(np_olympic_country_Gold > 20)
print(np_olympic_country[more_than_20[0]])

['GBR' 'China' 'RUS' 'US']